.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 10%;
}
.places h1 {
    font-size: 30px;
    text-align: left;
    width: 100%;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}
.places article h2 {
    font-size: 30px;
    text-align: left;
}
.title_box {
    display: flex;
    justify-content: space-between;
    margin-top: -2%;	    
}
.title_box h2 {
    margin: auto auto auto 0px;		
}
.price_by_night {
    color: #FF5A5F;
    border-radius: 50%;
    border: #FF5A5F 4px solid;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    justify-content: center;
    line-height: 60px;
    text-align: center;
    padding: 2%;
    margin: auto 0px auto 0px;
}
.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.information div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;height: 65px;
}
.max_guest {
    width: 100px;
    background: url(../images/icon_group.png) no-repeat top center;
    margin-top: 6px;
}
.number_rooms{
    width: 100px;
    background: url(../images/icon_bed.png) no-repeat top center;
    margin-top: 6px;

}
.number_bathrooms{
    width: 100px;
    background: url(../images/icon_bath.png) no-repeat top center;
    margin-top: 6px;

}
.user {
    margin: 15px 0px 15px 0px;
}
.description{
    text-align: justify;
}
