.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 10%;
}
.places h1 {
    font-size: 30px;
    text-align: left;
    width: 100%;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}
.places article h2 {
    font-size: 30px;
    text-align: center;
}
.price_by_night {
    color: #FF5A5F;
    border-radius: 50%;
    border: #FF5A5F 4px solid;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    margin-top: -80px;
}
.price_by_night p {
    margin: 15px 5px;
    text-align: center;
}
.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    padding-left: 45px;
}
.max_guest {
    width: 100px;
    background: url(../images/icon_group.png) no-repeat;
    margin-top: 6px;
}
.number_rooms{
    width: 100px;
    background: url(../images/icon_bed.png) no-repeat;
    margin-top: 6px;

}
.number_bathrooms{
    width: 100px;
    background: url(../images/icon_bath.png) no-repeat;
    margin-top: 6px;

}
.information p{
    margin-top: 50px;
    margin-left: -8px;
}
.description{
    text-align: justify;
}
